@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    font-family: "Space Grotesk";
    display: flex;
    justify-content: center;
    padding: 20px;
}

header h1 {
    font-size: 38px;
}

.wrapper {
    display: block;
    width: 100%;
    height: 100px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left {
    text-align: center;
}

.left .chooseContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left .chooseContainer button {
    font-size: 38px;
    border-radius: 50%;
    padding: 20px;
    border: none;
}

.left .chooseContainer .grape {
    background: #4f03ff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #ad90f0;
}

.left .chooseContainer .grape:hover {
    background: #2f009e;
}

.left .chooseContainer .orange {
    background: #a06601;
    transition: all 0.3s ease-in-out;
    border: 3px solid #664100;
    cursor: pointer;
}

.left .chooseContainer .orange:hover {
    background: #664100;
}

.left .chooseContainer .passionFruit {
    background: #702f01;
    border: 3px solid #5f2902;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.left .chooseContainer .passionFruit:hover {
    background: #5f2902;
    ;
}

.infoContainer h2 {
    font-size: 5em;
    font-family: 'Space Grotesk';
    color: #2f009e;
}

.infoContainer p {
    margin-top: 20px;
    font-size: 2em;
    font-family: 'Space Grotesk';
    font-weight: 700;
    margin-bottom: 50px;
}

.infoContainer a {
    border: 4px solid #2f009e;
    font-size: 3em;
    padding: 20px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Space Grotesk';
    transition: all 0.3s ease-in-out;
    background: #2f009e;
    color: white;
}


.right {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.right button {
    width: 100px;
    padding: 20px;
    background: transparent;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Space Grotesk';
}

.right button:hover {
    color: black;
    background: white;
}

.right .model {
    width: 500px;
    height: 500px;
    display: none;
}

@keyframes grapeBackgroundAnim {
    from {
        background: #8b5cf6;
    }

    to {
        background: #8b5cf6;
    }
}



@keyframes orangeBackgroundAnim {
    from {
        background: #925d01;
    }

    to {
        background: #925d01;
    }
}

@keyframes passionFruitBackgroundAnim {
    from {
        background: #a06601;
    }

    to {
        background: #ac4801;
    }
}

@keyframes switchImageStart {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes switchImageEnd {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes grapeColorAnim {
    to {
        color: #2f009e;
    }
}

@keyframes orangeColorAnim {
    from {
        color: #f7d497;
    }

    to {
        color: #f7d497;
    }
}

@keyframes passionFruitColorAnim {
    from {
        color: #ffc768;
    }

    to {
        color: #ffc768;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    .right {
        margin-top: 70px;
    }

    header {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
}